/* Remeber to clear boilerplate */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* below background color is just to get a reference of sizing, etc --> To be deleted */
  background-color: #fff1e8; 
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background-color: white;
  text-align: center;
}

.coming-soon {
  display: flex;
  flex-direction: row;
  background-color: #EEE5D2;
  
}

