#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background-color: white;
  text-align: center;
  
}

.coming-soon {
  display: flex;
  flex-direction: row;
  background-color: #EEE5D2;
  justify-content: space-between; 
}

.coming-soon-image-section {
  /* Background color to see spacing - Delete*/
  background-color: antiquewhite;
}

.coming-soon-signup-section {
  /* Background color to see spacing - Delete*/
  background-color: beige;
}

